.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
  
.no-data {
    text-align: center;
    padding: 20px;
    color: grey;
}
  
table {
    width: 100%;
    margin-top: 20px;
}
  
mat-card-header {
    margin-bottom: 20px;
    
    button {
        margin-left: auto;
    }
}

mat-card-content {
    padding-top: 10px;
}